*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
:root{
    --primary-color:#020202;
    --primary-dark-color:#222222;
    --primary-light-color:#222222;
    --dark-color:#222;
    --light-color:#fff;
}
img{
    width: 100%;
   
}
#header1{
    background-color: #222222;
    height: 30px;
    line-height: 30px;
    color: #fff;
    font-size: 14px;
    
}
.header11{
    display: flex;
    flex-direction: row;
  
}
.header11 li,a{
    color: #fff;
    margin-left:10px ;
}
#hotline{
    margin-right: 640px;
}
.header1_hover:hover{
    color: red;
}
/* Navbar  */
#nav-bar{
    background-color: var( --primary-color);
    
    
}
.menu-level-1{
    display: flex;
    max-width: 100%;
    margin: auto;
    flex-direction: row;
    
    
}
.item-level-1{
    padding: 16px 20px ;
    margin-top: 15px;
}
.item1-level-1 img{
    max-width: 80px;
    max-height: 60px;
    margin-top: 10px;
   
}
.item-level-1 a{
    color: rgba(233, 227, 227, 0.952);
    font-size: 14px;
    line-height: 20px;
}
.item-level-1 a:hover{
    color: #fff;
   
}
.item-level-11{
    padding: 16px 20px ;
}
.item-level-11 a{
    color: var(--light-color);
    font-size: 14px;
    line-height: 20px;
}
.item-level-1:hover{
    background-color: #020202;
}
.item-level-1:hover .menu-level-2{
    display: block;
}
.item-level-1:last-child{
    margin-left: auto;
}
.menu-level-2{
    border: 1px solid #ddd;
    box-shadow: 1px 2px 2px #ddd;
    position: absolute;
    top: 80px;
    display: none;
    background-color: var(--light-color);
}
.menu-level-2 a{
    color: black;
}
.menu-level-2 .item-level-2{
    padding: 10px 20px;
    
}
.menu-level-2 .item-level-2 a{
   color:rgb(155, 148, 148);    
}
.menu-level-2 .item-level-2 a:hover{
    color: black;
}
#cart{
    margin-right: 140px;
}
/* slider */
#slider{
    width: 100%;
    margin: auto;
   
}
#find{
    max-width: 80px;
}
/* content */
#content{
    width: 90%;
    margin: auto;
    background-color: #f2f2f2;
    height: 1000px;
}
#sanphamnoibat{
    margin-top: 20px;
}
#list_menu ul li a{

    color: black;
}
#list_menu_item{
    display: flex;
    justify-content: center;
}
#list_menu_item li{
    margin: 20px;
}
#list_menu_item li:hover{
    font-weight: bolder;
    color: black;
}
#show_products1{
    display: flex;
    flex-direction: row;
    height: 250px;
    width: 100%;
    justify-content: space-between;
}
h5{
    text-align: center;
}
.price{
    margin-left: 30px;
}
.box1{
    border: 1px solid #8a8080;
    background: #fff;
   
}
.box1 img {
    display: block;
    max-width:250px;
    max-height:200px;
    width: auto;
    height: auto;
  }
#show_products2{
    display: flex;
    flex-direction: row;
    height: 250px;
    width: 100%;
    justify-content: space-between;
}
.box2{
    border: 2px solid #020202;
    background: #fff;
}

.box2 img {
    display: block;
    max-width:600px;
    max-height:600px;
    width: auto;
    height: auto;
  }
#box21{
    display:block;
    transition: all .3s ease;
}
#box21:hover{
    transform: scale(1.01);
    
}
#box22{
    display: flex;
    flex-direction: column;
   
}
#logo-image{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
#logo_image ul li img{
    max-width: 250px;
    max-height: 250px;
}
.logo{
    margin-top: 45px;
}
        
/* footer */
.grid {
    max-width: 100%;
   
}
.grid__row {
    display: flex;
    flex-wrap: wrap; 
}
.grid__column-2-4 {
    width: 25%;
}
.footer {
    background-color: #222222;
}

.footer_heading {
    font-size: 14px;
    text-transform: uppercase;
}
.footer_heading1{
    color: #737373;
    font-size: 14px;
}

.footer-list {
    list-style: none;
}

.footer-item_link {
    text-decoration: none;
    font-size: 14px;
    color: #737373;
}

.footer-item_link:hover {
    color: var(--primary-color);
}

.footer-item_member {
    color: var(--primary-color);
    font-size: 14px;
    cursor: default;
}

.footer-item_icon {
    font-size: 14px;
}

footer{
    padding: 10px 20px;
    background-color: var(--dark-color);
    text-align: center;
    color: #fff;
    
}